In [6]:
w = "double quotes"

In [7]:
x = 'single quotes'

In [8]:
y = '''triple quotes - docstring'''

In [9]:
z = """triple double quotes - docstring"""

In [4]:
'''
This  is a random
    multiline
        string
enabled by doctstring!
'''

'\nThis  is a random\n    multiline\n        string\nenabled by doctstring!\n'

In [5]:
type(z)

str

In [10]:
x = "Whatever we write, UPPERCASE, lowercase, 23456789, @#$%^&*()_"

In [11]:
print(x)

Whatever we write, UPPERCASE, lowercase, 23456789, @#$%^&*()_

In [12]:
# MIXED QUOTATIONS ARE NOT ALLOWED!

In [13]:
'a"

SyntaxError: EOL while scanning string literal (1492347280.py, line 1)

In [14]:
# MY STRING IN ITSELF CONTAINS QUOTATIONS

In [17]:
x = "can't" # single quotation marks inside double quotation string

In [18]:
print(x)

can't

In [19]:
y = 'something "random" highlighted!'
# double quotation marks inside single quotation string

In [20]:
print(y)

something "random" highlighted!

In [22]:
z = 'can't' # THIS BECOMES INVALID!

SyntaxError: invalid syntax (1218036411.py, line 1)

In [23]:
z = 'can\'t' # Escape character

In [24]:
z

"can't"

In [26]:
"\n" # Escape character

'\n'

In [28]:
"zebra" > "aaaajdghshjdfhsdhjfjsgzbxvhsdgchscasbdjhasgdyaegd"
# LEXICOGRAPHICAL - Order in a dictionary

True

In [29]:
"abc" > "cba"

False

In [30]:
# Lexicographical comparison is enabled in programming by mapping - ASCII

In [32]:
"a" > "A" # This is also because of ASCII

True

In [34]:
"random1" + "random2" # concatenation

'random1random2'

In [35]:
"random" * 2 * 3

'randomrandomrandomrandomrandomrandom'

In [37]:
"zebra" > "ZEBRA"

True

In [38]:
length = 5
breadth = 10

In [39]:
def calc_area(l, b):
    a = l * b
    print("length =", l, "breadth =", b, "area =", a)

In [40]:
calc_area(length, breadth)

length = 5 breadth = 10 area = 50

In [43]:
def calc_area(l, b):
    a = l * b
    print("length = {} breadth = {} area = {}".format(l, a, b))

In [44]:
calc_area(length, breadth)

length = 5 breadth = 50 area = 10

In [49]:
def calc_area(l, b):
    a = l * b
    print("length = {1} breadth = {0} area = {2}".format(b, l, a))

In [50]:
calc_area(length, breadth)

length = 5 breadth = 10 area = 50

In [55]:
def calc_area(l, b):
    # a = l * b
    print(f"length = {l} breadth = {b} area = {l*b}")

In [56]:
calc_area(length, breadth)

length = 5 breadth = 10 area = 50

In [57]:
s1 = "random"

In [58]:
s2 = "very random"

In [59]:
a = f"{s1} | {s2}"

In [60]:
a

'random | very random'

In [61]:
ord("a") # check the mapping value of the character

97

In [62]:
ord("A")

65

In [63]:
ord("&")

38

In [64]:
ord("\n")

10

In [65]:
chr(56)

'8'

In [66]:
chr(65)

'A'

In [67]:
'''
Question 1 -
1. Take a string as input from the user.
2. Print the string character by character in new lines.

INPUT - VIRAT
OUTPUT -
V
I
R
A
T
'''

'\nQuestion 1 -\n1. Take a string as input from the user.\n2. Print the string character by character in new lines.\n\nINPUT - VIRAT\nOUTPUT -\nV\nI\nR\nA\nT\n'

In [69]:
a = input()

for i in a:
    print(i) # STRINGS ARE ITERABLE!

PYTHON
P
Y
T
H
O
N

In [70]:
'''
Question 2 -
1. Take a string as input from the user.
2. Print the following - 
"First Character - f, Last Character - l"
'''

'\nQuestion 2 -\n1. Take a string as input from the user.\n2. Print the following - \n"First Character - f, Last Character - l"\n'

In [71]:
a = input()

print(f"First Character - {a[0]}, Last Character - {a[-1]}")
# STRINGS HAVE INDEXES

PYTHON
First Character - P, Last Character - N

In [72]:
a = "python is crazy!"

In [76]:
a[3] # positive indexing

'h'

In [77]:
a[-4] # negative indexing

'a'

In [78]:
a[3:4] # slicing

'h'

In [79]:
'''
Question 3 -
1. Take a string as input from the user.
2. Reverse that string.
'''

'\nQuestion 3 -\n1. Take a string as input from the user.\n2. Reverse that string.\n'

In [81]:
a = "PYTHON"

a[::-1]

'NOHTYP'

In [82]:
'''
Question 4 -
1. Take a string as input from the user.
2. Check whether that string is a palindrome.
   Create a function which returns "PALINDROME" if true otherwise "NOT A PALINDROME."
'''

'\nQuestion 4 -\n1. Take a string as input from the user.\n2. Check whether that string is a palindrome.\n   Create a function which returns "PALINDROME" if true otherwise "NOT A PALINDROME."\n'

In [83]:
"I" == "i"

False

In [84]:
"Naman" == "namaN"

False

In [85]:
# "value_if_true" if condition else "value_if_false"

In [87]:
"random" if "random" == "RANDOM" else "NO" # TERNARY OPERATOR

'NO'

In [88]:
a = "Random StrING"

In [89]:
def lower_case(a):
    result = ""
    
    for i in a:
        if i >= "A" and i <= "Z":
            result += chr(ord(i) + 32) # A -> ord(i) = 65 -> 65 + 32 -> 97 -> chr(97) -> a
        else:
            result += i
    
    return result

In [90]:
lower_case(a)

'random string'

In [91]:
def check_palindrome(a):
    a = lower_case(a)
    
    return "PALINDROME" if a == a[::-1] else "NOT A PALINDROME"

In [92]:
check_palindrome("Naman")

'PALINDROME'

In [93]:
"a" >= "A"

True

In [94]:
chr(ord("a") + 32)

'\x81'

In [95]:
'''
Question 5 -
1. Take a string as input from the user.
2. Print the count of uppercase characters in that string. (alphabets)

INPUT - "This is a Random%^&*()"
OUTPUT - 2
'''

'\nQuestion 5 -\n1. Take a string as input from the user.\n2. Print the count of uppercase characters in that string. (alphabets)\n\nINPUT - "This is a Random%^&*()"\nOUTPUT - 2\n'

In [96]:
a = "This is a Random%^&*()"

In [99]:
def count_uppercase(a):
    count = 0
    
    for i in a:
        if ord(i) >= 65 and ord(i) <= 90: # THIS IS LESS READABLE
            count += 1
            
    return count

In [100]:
count_uppercase(a)

2

In [101]:
'''
Question 6 -
1. You are given a list as input to a function.
2. Generate a string from the chr values of the integers in the list.

INPUT = [65, 97, 68]
OUTPUT = "AaD"

EXPLANATION - 
"A" -> 65
"a" -> 97
"D" -> 68
'''

'\nQuestion 6 -\n1. You are given a list as input to a function.\n2. Generate a string from the chr values of the integers in the list.\n\nINPUT = [65, 97, 68]\nOUTPUT = "AaD"\n\nEXPLANATION - \n"A" -> 65\n"a" -> 97\n"D" -> 68\n'

In [102]:
a = [65, 69, 71, 98, 101, 38, 128516]

In [103]:
def generate_string(a):
    s = ""
    
    for i in a:
        s += chr(i)
        
    return s

In [104]:
generate_string(a)

'AEGbe&ðŸ˜„'

In [105]:
ord("A")

65